footer {
  display: flex;
  flex-direction: column;
  background-color: #181818;
  padding: 30px;
  font-family: "calibri"; }

.subClass {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1.875rem;
  color: white;
  font-size: .75rem; }

.subClass h2 {
  font-size: 1.25rem;
  font-weight: bold; }

.pie {
  display: flex;
  justify-content: center;
  color: white;
  font-size: .9375rem; }

.pie a {
  color: blueviolet;
  text-decoration: none; }

.wpp {
  position: fixed;
  bottom: 20px;
  right: 20px; }

header {
  font-family: 'Barlow', sans-serif;
  font-family: 'Gabarito', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Nanum Gothic', sans-serif; }

.nav-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem; }
  .nav-wrapper nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: none;
    background-color: #add8e6;
    padding: 1rem 1.5rem; }
    .nav-wrapper nav #toggle, .nav-wrapper nav label {
      display: block; }
    .nav-wrapper nav .logo {
      width: 180px;
      height: 60px;
      font-weight: 700;
      text-decoration: none;
      color: black; }
    .nav-wrapper nav .menu ul {
      list-style: none;
      display: flex;
      gap: 2rem; }
      .nav-wrapper nav .menu ul li a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.767); }
        .nav-wrapper nav .menu ul li a:hover {
          color: #0c93ec; }

@media (max-width: 48rem) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0px; }
  nav label {
    display: flex;
    color: white;
    cursor: pointer; }
  nav #toggle:checked ~ .menu {
    height: 100%; } }

.main3 {
  position: relative;
  height: 120%; }

.carrousel {
  width: 100%; }

.conteCarrousel {
  width: 100%;
  height: 700px;
  overflow: hidden; }

.itemCarrousel {
  position: relative;
  width: 100%;
  height: 100%; }

.itemCarrouselTarjeta {
  width: 100%;
  height: 100%; }

.itemCarrouselArrows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; }

.itemCarrouselArrows > i:hover {
  cursor: pointer; }

#itemCarrousel-1 {
  background-color: #e23232; }

#itemCarrousel-2 {
  background-color: #32c8e2; }

#itemCarrousel-3 {
  background-color: #c8e232; }

.conteCarrouselController {
  width: 100%;
  display: flex;
  justify-content: space-evenly; }

.conteCarrouselController > a {
  text-decoration: none;
  font-size: 2em;
  color: grey; }

.itemCarrouselArrows > a > i {
  color: white; }

.home-icon {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main2 {
  padding: 0; }

.main2 h1 {
  text-align: center;
  font-size: 40px;
  font-family: "calibri";
  background-color: #0c92ec38; }

.card {
  width: 21.875rem;
  height: 31.25rem;
  border: 2px solid rgba(0, 0, 0, 0.062);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.151);
  margin-top: 0;
  align-items: center;
  line-height: 30px;
  text-align: center;
  vertical-align: middle; }

.card div {
  width: 100%;
  height: 55%; }

.card div img {
  width: 100%;
  height: 90%;
  object-fit: cover; }

.card:hover {
  background-color: #0a86a533;
  transform: scale(0.95); }

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3.75rem;
  align-items: center;
  margin-top: 0;
  font-family: 'calibri';
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 100px; }

.index-main h1 {
  text-align: center;
  font-size: 40px;
  font-family: "calibri";
  background-color: #0c92ec38; }

.section-servicios {
  width: 55%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px; }
  .section-servicios img {
    width: 190px;
    height: 250px;
    gap: 2.5rem;
    transform: skew(-10deg);
    transition: 0.5s;
    object-fit: cover; }
  .section-servicios img:hover {
    transform: scale(1.1); }
  .section-servicios h2 {
    color: #1489b1;
    font-family: 'calibri';
    font-size: 25px; }
  .section-servicios p {
    font-family: 'calibri';
    font-size: 20px; }

@keyframes show {
  from {
    opacity: 0;
    scale: 25%; }
  to {
    opacity: 1;
    scale: 100%; } }

.main3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.main3-mapa {
  width: 60%; }

.main3-mapa iframe {
  width: 100%; }

.contenedor {
  text-align: center;
  padding-top: 25px;
  padding-right: 220px; }

.wpp-imagen {
  height: 250px;
  width: 250px;
  text-align: center; }

.error-404 {
  display: flex;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 350px; }

@media (max-width: 320px) {
  .turnos {
    display: flex;
    flex-wrap: wrap; }
  .turnos .boton {
    margin: 45px 0; }
  .cardContainer {
    flex-direction: column;
    gap: .3125rem; }
  .card {
    width: 300px;
    height: 400px; }
  .tarjeta {
    width: 100%;
    font-size: 10px; }
  .section-servicios {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 98%;
    border-left: 10px; }
  .section-servicios img {
    width: 140px;
    height: 180px; }
  .section-servicios h2 {
    font-size: 20px;
    margin-left: -10px;
    margin-right: -10px; }
  .section-servicios p {
    font-size: 15px;
    justify-content: center; }
  .footer .subClass h2 {
    align-items: center;
    justify-content: center;
    font-size: 16px; }
  .footer .pie {
    font-size: 11px;
    align-items: center;
    justify-content: center; }
  .turnos p {
    font-size: 14px; } }

@media (max-width: 425px) {
  .cardContainer {
    flex-direction: column;
    gap: .3125rem; }
  .section-servicios {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 98%;
    border-left: 10px; }
  .section-servicios img {
    width: 140px;
    height: 180px; }
  .section-servicios h2 {
    font-size: 20px;
    margin-left: -10px;
    margin-right: -10px; }
  .section-servicios p {
    font-size: 15px;
    justify-content: center; }
  .contenedor {
    text-align: center; }
  .wpp-imagen {
    height: 100px;
    width: 100px;
    padding-bottom: 10px;
    margin-left: 110px; }
  .icon-home {
    width: 250px;
    height: 130px; } }

@media (max-width: 768px) {
  .main {
    width: 100%; }
  .content-section {
    flex-direction: column; }
  .main3-mapa {
    width: 100%; }
  .contenedor {
    text-align: center;
    display: flex; }
  .wpp-imagen {
    height: 100px;
    width: 100px;
    padding-bottom: 10px;
    margin-left: 110px; } }

@media (max-width: 1024px) {
  .main {
    height: 800px; }
  footer {
    height: 150px; }
  .turnos {
    border-right: 200px; }
  .error-404 h1 {
    font-size: 65px;
    padding-top: 0; }
  .home-icon {
    padding-top: 95px;
    padding-bottom: 95px; } }
