@media(max-width:768px){
    .main{
        width: 100%;
    }
    .content-section{
        flex-direction: column;
    }
    .main3-mapa{
        width: 100%;
    }
    .contenedor{
        text-align: center;
        display: flex;
    }
    .wpp-imagen{
        height: 100px;
        width: 100px;
        padding-bottom: 10px;
        margin-left: 110px;
    }
}
