@media(max-width:1024px){
    .main{
        height: 800px;
    }
    footer{
        height: 150px;
    }
    .turnos{
        border-right: 200px;
    }
    .error-404 h1{
        font-size: 65px;
        padding-top: 0;
    }
}