.index-main h1{
    text-align: center;
    font-size: 40px;
    font-family:'calibri';
    background-color: #0c93ec;
}
.section-servicios{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    overflow: hidden;
    img{
        width: 150px;
        height: 200px;
        gap: 2.5rem;
        transform: skew(-10deg);
        transition: 0.5s;
        object-fit: cover;
    }
    img:hover{
        transform: scale(1.1);
    }
}
.section-servicios h1{
    text-align: center;
    background-color: red;
}