.main3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.main3-mapa{
    width: 60%;
}
.main3-mapa iframe{
    width: 100%;
}
.contenedor{
    text-align: center;
    padding-top: 25px;
    padding-right: 220px;
}
.wpp-imagen{
    height: 250px;
    width: 250px;
    text-align: center;
}

