.index-main h1{
    text-align: center;
    font-size: 40px;
    font-family:map-get($font , calibri );
    background-color: map-get($color , celeste );
}
.section-servicios{
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    overflow: hidden;
    img{
        width: 190px;
        height: 250px;
        gap: 2.5rem;
        transform: skew(-10deg);
        transition: 0.5s;
        object-fit: cover;
    }
    img:hover{
        transform: scale(1.1);
    }
    padding-top: 20px;
    padding-bottom: 20px;
    h2{
        color: #1489b1;
        font-family: 'calibri';
        font-size: 25px;
    }
    p{
        font-family: 'calibri';
        font-size: 20px;
    }
}
@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}
